<nav class="navbar" id="mainNav">
    <div class="nav-flex">
        <a href="/index.html" class="logo">Jakarta-<span>Connect</span></a>
        
        <button class="mobile-menu-btn" id="menuToggle">
            <i data-lucide="menu"></i>
        </button>

        <ul class="nav-links" id="navLinks">
            <li><a href="/pages/board.html">Community</a></li>
            <li><a href="/pages/market.html">Marketplace</a></li>
            <li><a href="/pages/info.html">Local Info</a></li>
            <li>
                <a href="/blog.html">Jakarta Blog</a>
            </li>   
            <li class="nav-divider"></li>
            <li class="auth-links"><a href="/login.html" id="login-btn">Login</a></li>
            <li class="auth-links"><a href="/signup.html" id="signup-btn" class="btn-signup">Sign Up</a></li>
        </ul>
    </div>
</nav>